Repository finsite/stock-dashboard-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: remove invalid comments from package.json
  .eslintrc.js
  .husky/pre-commit
  .lintstagedrc.json
  .pre-commit-config.yaml
  .prettierrc
  .prettierrc.js
  commitlint.config.cjs
  commitlint.config.js
  eslint.config.mjs
  next.config.js
  next.config.ts
  package.json
  postcss.config.js
  postcss.config.mjs
  stylelint.config.js
Due: eslint --fix, prettier --write

chore: verify functionality
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/styles/globals.css
Due: eslint --fix, prettier --write

chore: fix favicon.ico
  .husky/pre-commit
  .prettierrc.js
  TODO.md
  commitlint.config.js
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/favicon.ico
  stylelint.config.js
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore(release): 0.1.0
  CHANGELOG.md
Due: prettier --write

fix: finalize Docusaurus config
  docs/docusaurus.config.ts
Due: eslint --fix, prettier --write

test: verify gitleaks hook
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

test: verify gitleaks hook
  .gitleaks.toml
Due: none

chore(security): add SBOM generation and Cosign signing workflows
  .github/workflows/Generate Sbom.yml
  .github/workflows/Sign Docker Image with Cosign.yml
  .github/workflows/Verify Docker Image and SBOM.yml
  .gitignore
  .husky/pre-commit
  bom.json
  package-lock.json
  package.json
Due: prettier --write

chore(security): add SBOM generation and Cosign signing workflows
  .github/workflows/Generate Sbom.yml
  licenses.json
  package.json
Due: prettier --write

fix(files): Cleanup redundant files and standardize
  .coveragerc
  Makefile
Due: none

fix(pollers): Verifying core functionality
  .coverage
  .prettierrc.yaml
  .pylintrc
Due: prettier --write

fix(pollers): Verifying core functionality with workflows
  .github/workflows/Automated Release.yml
  .github/workflows/Github Release.yml
  .github/workflows/Version Bump and Changelog.yml
Due: prettier --write

fix(security): Remediate vulnerabilities
  package-lock.json
Due: prettier --write

fix(files): verify pyproject.toml has all required fields
  CHANGELOG.md
Due: prettier --write

chore: sync shared files and documentation across all repositories
  README.md
  TODO.md
Due: prettier --write

chore: clean up old GitHub workflow files across stock repositories
  .audit_cache.json
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Codeql Analysis.yml
  .github/workflows/Commit Lint.yml
  .github/workflows/Deploy Docusaurus to GitHub Pages.yml
  .github/workflows/Generate Sbom.yml
  .github/workflows/Github Release.yml
  .github/workflows/Lint and Format Check.yml
  .github/workflows/Sign Docker Image with Cosign.yml
  .github/workflows/Type Check and Build.yml
  .github/workflows/Unit Tests.yml
  .github/workflows/Verify Docker Image and SBOM.yml
  .github/workflows/Version Bump and Changelog.yml
Due: prettier --write

chore: resolved dependancy issues across all repos.
  docs/blog/authors.yml
  docs/blog/tags.yml
  helm/stock-dashboard-ui/Chart.yaml
  helm/stock-dashboard-ui/templates/deployment.yaml
  helm/stock-dashboard-ui/templates/ingress.yaml
  helm/stock-dashboard-ui/templates/service.yaml
  helm/stock-dashboard-ui/values.yaml
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  vulnerability_report.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,yml,yaml,md})
